* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to left,
    #051937, #1F3F65, #386997, #4F98CB, #67C9FF);
    background-color: magenta;
    background-position: center;
    font-family: ‘Lacquer’, sans-serif;
    font-weight: 300;
    height: 100vh;
    color: rgb(24, 27, 31);
    display: flex;
    flex-direction: column;
}
.wrapper {
    text-align: center;
}
.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
}
.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: lawngreen;
    margin-bottom: 20px;
}
.btn-roll {
    font-family: ‘Lacquer’;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    padding: 0.2rem;
}
.dice {
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}